.discont-main {
  width: 1184px;
  height: 900px;
  margin: 0 auto;

  .location {
    text-align: center;
    color: #b0b0b0;
    width: 1184px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  a {
    color: #b0b0b0;
  }
  .sale1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .disc {
    width: 100%;
    color: white;
    text-align: center;
  }
  .discont {
    background-image: url(../../../images/discont.png);
    background-repeat: no-repeat;
    padding: 60px 0 60px 0;
  }
  .number {
    color: #2cbae7;
    font-size: 55px;
    text-decoration: wavy underline #2cbae7;
    width: 105px;
    margin: auto;
  }
  .text:hover{
    color: #2cbae7;
  }
  .text {
    height: 120px;
    opacity: 0.8;
    color: white;
    width: 250px;
    text-align: center;
    margin: auto;
    font-size: 25px;
    padding-top: 15px;
  }
  .conditions{
    >div{
      font-size: 16px;
      padding-top: 24px;
      height: 100%;
    }
  }
  .cond1{
    margin-top: 0;

  }
}
  .main-wave {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px;
  }

  .wave {
    height: 50px;
    width: 400px;
    position: relative;
  }

  .wave:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #2cbae7 13px);
  }
  .wave:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px);
  }
  .left{
    top:0;
    float: left;
  }
  .right{

    float: right;
    margin-right: -30px;
    margin-top: -70px;
  }
  .wave-text{
    position: relative;
    font-size: 40px;
    margin-top: 17px;
    margin-left: 505px;
    width: 190px;

  }

