.sale-main{
  width: 1184px;
  height: 1200px;
  margin: 0 auto;

  .location{
    text-align: center;
    color:#b0b0b0;
    width: 1184px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  a{
    color: #b0b0b0;
  }
  .sale1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .sale2{
    margin-bottom: 30px;
  }
  .sale3{
    margin-bottom: 30px;
  }
  .sale4{
    margin-bottom: 60px;
  }
}