.header-main {
  width: 1184px;
  height: 375px;
  margin: 0 auto;
  background-image: url("../../images/invalid_151.png");
  overflow: hidden;

  .box-panel {
    position: relative;
    height: 375px;

    div {
      position: relative;
      display: inline-block;
    }

    .logo {
      position: absolute;
      height: 100%;
      width: 200px;
      margin: 0px 20px;
      top: 20px;
      background-image: url("../../images/logo1.png");
      background-repeat: no-repeat;
    }
    .ul-menu {
      position: absolute;
      width: 600px;
      height: 375px;
      padding: 0px;
      margin-left: 265px;

      ul {
        list-style: none;
        margin: 0;
        padding-top: 20px;
        text-align: center;
        height: 100%;

        li {
          display: inline;
          margin-left: 25px;
        }

        a {
          width: 288px;
          height: 30px;
          text-decoration-line: underline;
          padding: 0;
          padding-top: 10px;
          font-size: 20px;
          color: #ffffff
        }
        a:hover {
          text-decoration-line: none;
          color: #60c5e5;
        }
      }
    }

    .help {
      position: absolute;
      width: 40%;
      top: 110px;
      left: 370px;
      color: white;
      font-size: 55px;
      font-weight: bold;
      margin: 0 auto;
    }
    .description {
      position: absolute;
      top: 175px;
      padding-top: 18px;
      left: 480px;
      font-size: 16px;
      width: 20%;
      color: white;
      opacity: 0.7;
    }
    a {
      text-decoration-line: none;
      color: white;
    }

    a:hover {
      color: #60c5e5;
      transition: 1s;;
    }


    .button-catalog{
      position: absolute;
      top: 240px;
      left: 435px;

      .catalog {
        border: 2px solid #fbad22;
        color: white;
        font-size: 20px;
        padding: 15px;
        float: left;
        width: 100px;
        text-align: center;

      }
      .catalog:hover{
        background-color: rgba(251, 173, 34, 0.3) ;
        transition: 1s;
      }
      .services{
        border: 2px solid #2cbae7;
        color: white;
        font-size: 20px;
        padding: 15px;
        float: right;
        margin-left: 20px;
        width: 100px;
        text-align: center;
      }
      .services:hover{
        background-color: rgba(44, 186, 231, 0.3) ;
        transition: 1s;
      }
    }
.cabinet{
  width: 140px;
  float: right;
  color: white;
  text-align: right;
  text-decoration-line: underline;
  padding-top: 10px;

  i{
    margin-top: 20px;
    padding-right: 10px;
    float: left;
  }
  .area{
    margin-right: 20px;
    font-size: 14px;
    opacity: 0.8;
    text-decoration-line: underline;
    margin-top: 15px;
  }
  .area:hover{
    text-decoration-line: none;
    color: #60c5e5;
  }
}
  }
}
