.header-main {
  width: 1184px;
  height: 375px;
  margin: 0 auto;
  background-image: url("../../images/invalid_151.png");
  overflow: hidden;

  .box-panel {
    position: relative;
    height: 375px;

    div {
      position: relative;
      display: inline-block;
    }

    .logo {
      position: absolute;
      height: 100%;
      width: 200px;
      margin: 0px 20px;
      top: 20px;
      background-image: url("../../images/logo1.png");
      background-repeat: no-repeat;
    }
    .ul-menu {
      position: absolute;
      width: 600px;
      height: 375px;
      padding: 0px;
      margin-left: 265px;


      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        height: 100%;

        li {
          display: inline;
          margin-left: 25px;
        }

        a {
          width: 288px;
          height: 30px;
          text-decoration-line: underline;
          padding: 0;
          padding-top: 10px;
          font-size: 10px;
          font-weight: bold;
          color: #ffffff
        }
      }
    }

    .help {
      position: absolute;
      width: 40%;
      top: 110px;
      left: 370px;
      color: white;
      font-size: 50px;
      font-weight: bold;
      margin: 0 auto;
    }
      .description{
        position: absolute;
        top: 175px;
        left: 480px;
        font-size: 12px;
        width:20%;
        color: white;
        opacity: 0.7;

      }
    .button-catalog{
      position: absolute;
      top: 200px;
      left: 435px;

      .catalog {
        border: 2px solid #fbad22;
        color: white;
        font-size: 15px;
        padding: 15px;
        float: left;
        width: 100px;
        text-align: center;

      }
      .services{
        border: 2px solid #2cbae7;
        color: white;
        font-size: 15px;
        padding: 15px;
        float: right;
        margin-left: 20px;
        width: 100px;
        text-align: center;
      }

    }
.cabinet{
  width: 150px;
  float: right;
  color: white;
  text-align: right;
  text-decoration-line: underline;

  i{
    margin-top: 20px;
    padding-right: 15px;
    float: left;
  }

  p{
    margin-right: 20px;
    font-size: 16px;
    opacity: 0.8;
  }
}
  }
}
