.SimpleTable-table-2 {
  min-width: 600px;
  background-color: #dcf6fe;
}
.MuiPaper-root-3{
  background-color: #2cbae7;
}
.MuiTableCell-root-37:last-child {
  padding-right: 24px;

}
.MuiTableCell-alignCenter-46 {
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 700;
}