.news_panel{
  height: 200px;
  display: flex;
  .news{
    width: 33%;
  }
  .new1{
    background-image: url(../../images/news1.png);
  }
  .new2{
    margin-left: 15px;
    background-image: url(../../images/news2.png);
  }
  .new3{
    margin-left: 15px;
    background-image: url(../../images/news3.png);
  }}
  .text-news{
    height: 70px;
    background-color: #0e2734;
    color: white;
    opacity: 0.7;
    text-align: center;
    margin-top: 130px;
  }
