.news_panel{
  height: 200px;
  display: flex;
  .news{
    width: 33%;
  }
  .new1{
    background-image: url(../../images/news1.png);
  }
  .new2{
    margin-left: 5px;
    background-image: url(../../images/news2.png);
  }
  .new3{
    margin-left: 5px;
    background-image: url(../../images/news3.png);
  }
}